
{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}


{% block title %}
    {{ title }}
{% endblock title %}



{% block content %}

<section id="dl-hero">
    <div class="dl-hero-container justify-content-center px-5">
        <div class="dl-hero-text justify-content-center w-100">
            <div class="img-file align-items-center justify-content-center">
                <img src="/static/images/yt-download.jpg" alt="">
            </div>
            <h1>YouTube Video Download</h1>
            <p>Enter Video URL in the form below to download video file.</p>
        </div>

        <div class="hero-form">
            <div>
                {{ render_form(form, button_size='xl rounded-pill w-25') }}
            </div>
        </div>

    </div>
</section>

{% endblock content %}